.cache
*.egg-info
*.pyc
*.pyo
*.swp
*.log
*.xml
*.html
.tox
.eggs/
python
__pycache__
bin/*
.idea/*
{{cookiecutter.project_slug}}/screenshots/*
/docs/_build/
.coverage
credentials.yml
credentials-*.yml
