alabaster==0.7.10
argh==0.26.2
arrow==0.10.0
Babel==2.5.1
binaryornot==0.4.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cookiecutter==1.5.1
docutils==0.14
future==0.16.0
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
jinja2-time==0.2.0
MarkupSafe==1.0
pathtools==0.1.2
pluggy==0.5.2
poyo==0.4.1
py==1.4.34
Pygments==2.2.0
pytest==3.2.2
pytest-cookies==0.3.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
tox==2.9.1
urllib3==1.22
virtualenv==15.1.0
watchdog==0.8.3          # required by watchmedo
whichcraft==0.4.1
